<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='http://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="javascripts/angular-app.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.js"></script>
    <script src="/javascripts/roomDiv.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div ng-app="homeRoom">
      <div ng-include="'templates/nav.ejs'"></div>

      <div ui-view>
        <div>
          <h1><%= title %></h1>
          <p>{{welcome}}</p>
          
          <div ng-hide="named">
            <form ng-submit="addName()">
            <input ng-model='userName' name='userName' placeholder='Enter a Username' type="text">
            <input type="submit" name="submit" value="submit">
            </form>
          </div>

          <div style='margin: 20px 0;' id='games'>
            <div id='rooms'></div>
            <div id='addRooms'>
              <button ng-hide="createRoom" id="addRoomsBtn" ng-click="addRoomField()">Create a new game</button>
              <div ng-show="createRoom" id='addRoomConfig'>
                <form ng-submit='addRoom()'>
                  <input ng-model='roomName' name='roomName' placeholder='Enter a Roomname' type='text'>
                  <input type='submit' name='submit' value='submit'>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
      
      

      <div ng-include="'templates/footer.ejs'"></div>
    </div>


    
  </body>
</html>
