<div id='footBar'>
  Made by <a href="https://www.linkedin.com/in/pracenberg">Patrick Racenberg</a>, using Node.js, Angular, and Socket.io. Find the code on <a href="https://github.com/notyourbear/rpsls">github</a>.
</div>