<div class="container-fluid">
  <div class="row instrucs">


    
    <div ng-repeat="instruction in instructions" ng-class="addOffset($index)" class="col-md-2 col-sm-4 col-xs-6 instruction">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-2">
          <div class="fawesome-background">
            <i class="fa fa-{{instruction.fawesome}} fa-3x inst"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="text-background">
            <div class="text">
              <h2>{{instruction.title}}</h2>
              <p>{{instruction.ins1}}</p>
              <p>{{instruction.ins2}}</p>
            </div>
          </div>
        </div>
      </div> 
    </div>

  </div>
</div>
<div class='content'>
  <div id='createUserName'>

    <div ng-hide="named">
      Create your username to start playing
      <form ng-submit="addName()">
        <input ng-model='userName' name='userName' placeholder='Enter a Username' type="text">
        <button id='nameSubmit' type="submit" name="submit">Ok</button>
      </form>
    </div>

    <div ng-show="named" id='addRooms'>
      Join a room below or create your own <br/>
      <div ng-show="createRoom" id='addRoomConfig'>
        <form ng-submit='addRoom()'>
          <input ng-model='roomName' name='roomName' placeholder='Name your room' type='text'>
          <input type='submit' name='submit' value='Create Room'>
        </form>
      </div>
    </div>


  </div>
  

  <div id='games'>

    <div ng-repeat="(rooms, room) in allTheRooms ">
      <div class='gameRoomBorder'>
        <div class='gameRoom'>
          <div class='gameRoomTitle'>
            {{room.name}}
          </div>
          <div class='gamePeople'>
            people in room: {{room.people.length}}
          </div>
          <div ng-show='named' ng-click="checkRoom(room.id)" class="joinButton">
            Join Room
          </div>
        </div>
      </div>

    </div>


   
  </div>
</div>
