<div class="container-fluid">
  <div class="row site-title">
    <div class="row">
      <div class="col-xs-12">
        <h1>Spock Beats Rock</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>A Game of Rock, Paper, Scissors</h2>
      </div>
    </div>

  </div>
</div>