<div class='content'>
  <div class='y'>
    <div class='game'>
      <p>{{caviat}}</p>
      
      this is where the game will go. don't ask me. it's clearly not showing up yet
    </div>
    <div class="sidebar">
      <h3>Chat</h3>
      <div id='messageSpace'>
        <ul id="messages"></ul>
      </div>
      <form class="chatForm" ng-submit='chatMsg()'>
        <input id="m" ng-model="chatMessage" name="chatMessage" autocomplete="off" placeholder="type message" /><button>Send</button>
      </form>
    </div>
  </div>
  
</div>