<div class='content'>
  <div class='y'>
    <div class='game'>
      <p>{{caviat}}</p>
      <div class='join'>
        <button ng-hide="isInGame" ng-click='joinGame()'>Join the Game!</button>
      </div>

      <div id='playfield'>
        <div id="userMove" class='move'>A move goes in here!</div>
        <div id="opponentMove" class='move'>Waiting on move...</div>
        <div id='playMessage'></div>
      </div>
      
      <div ng-show='isInGame'>
        <div id = 'buttons'>
          <div ng-click = play('Rock') class='gameButton'>Rock</div>
          <div ng-click = play('Paper') class='gameButton'>Paper</div>
          <div ng-click = play('Scissors') class='gameButton'>Scissors</div>
          <div ng-click = play('Lizard') class='gameButton'>Lizard</div>
          <div  ng-click = play('Spock') class='gameButton'>Spock</div>
        </div>
      </div>
    </div>


    <div class="sidebar">
      <h3>Chat</h3>
      <div id='messageSpace'>
        <ul id="messages"></ul>
      </div>
      <form class="chatForm" ng-submit='chatMsg()'>
        <input id="m" ng-model="chatMessage" name="chatMessage" autocomplete="off" placeholder="type message" /><button>Send</button>
      </form>
    </div>
  </div>
  
</div>