<div class='content'>
  <div class='y'>
    <div class='game'>

      <div class='join'>
        <button ng-hide="isInGame" ng-click='joinGame()'>Join the Game!</button>
      </div>
      <div class="leaveGame">
        <button ng-show='isInGame' ng-click='leaveGame()'>Stop playing</button>
      </div>
      
      <div id='playfield'>
        <div id='playerOne' class='move'>{{playerOne}}
        </div>
        <div id='playerTwo' class='move'>{{playerTwo}}
        </div>
        <div id='playMessage'>
          {{victoryMessage}}
        </div>
        <div id='timer'></div>
      </div>
      
      <div ng-show='isInGame'>
        <div id = 'buttons'>
          <div ng-click = updatePlayers('Rock') class='gameButton'>Rock</div>
          <div ng-click = updatePlayers('Paper') class='gameButton'>Paper</div>
          <div ng-click = updatePlayers('Scissors') class='gameButton'>Scissors</div>
          <div ng-click = updatePlayers('Lizard') class='gameButton'>Lizard</div>
          <div  ng-click = updatePlayers('Spock') class='gameButton'>Spock</div>
        </div>
      </div>
    </div>


    <div class="sidebar">
      <h3>Chat</h3>
      <div id='messageSpace'>
        <ul id="messages"></ul>
      </div>
      <form class="chatForm" ng-submit='chatMsg()'>
        <input id="m" ng-model="chatMessage" name="chatMessage" autocomplete="off" placeholder="type message" /><button>Send</button>
      </form>
    </div>
  </div>
  
</div>