<div class='contentRoom'>
  <div class='gameView'>
    <div class='game'>
      <div class="leaveRoom" ng-click='leaveRoom()'>  Leave Room
      </div>
    
      <div class="leaveGame">
        <button ng-show='isInGame' ng-click='leaveGame()'>Stop playing</button>
      </div>
      
      <div id='playfield'>
        <div id='playerOne' class='move'>{{playerOne}}
        </div>
        <span id='vs'>VS</span>
        <div id='playerTwo' class='move'>{{playerTwo}}
        </div>
        <div id='playMessage'>
          {{victoryMessage}}
        </div>
        <div id='timer'></div>
      </div>

      <div class='join' ng-hide="isInGame">
        <div class='joinInt' ng-click='joinGame()'>
          Join the Game!
        </div>
      </div>
    
      <div class='leaveGame' ng-show="isInGame">
        <div class="leaveGameInt" ng-click='leaveGame()'>
          Stop playing
        </div>
      </div>
      
      <div ng-show='isInGame'>
        <div id = 'buttons'>
          <div id='rock' ng-click = updatePlayers('Rock') class='gameButton'>&nbsp;</div>
          <div id='paper' ng-click = updatePlayers('Paper') class='gameButton'>&nbsp;</div>
          <div id='scissors' ng-click = updatePlayers('Scissors') class='gameButton'>&nbsp;</div>
          <div id='lizard' ng-click = updatePlayers('Lizard') class='gameButton'>&nbsp;</div>
          <div id='spock' ng-click = updatePlayers('Spock') class='gameButton'>&nbsp;</div>
        </div>
      </div>
    </div>


    <div class="sidebar">
      <h3>Chat</h3>
      <div id='messageSpace'>
        <ul id="messages"></ul>
      </div>
      <form class="chatForm" ng-submit='chatMsg()'>
        <input id="m" ng-model="chatMessage" name="chatMessage" autocomplete="off" placeholder="type message" /><button>Send</button>
      </form>
    </div>
  </div>
  
</div>