<div class="row rpsRoom">
  <div class="col-xs-10 col-xs-offset-1">

    <div class="row gameButtons">
      <div class="col-md-2 col-sm-3 col-xs-3 leaveRoomBtn">
        <button class="btn btn-block leaveRoom" ng-click='leaveRoom()'>  
          <span>Leave Room</span>
        </button>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-3 leaveGameBtn">
        <button class="btn btn-block leaveGame" ng-show='isInGame' ng-click='leaveGame()'>
          <span>
            Stop Playing
          </span>
        </button>
      </div>

      <div class="col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-1 col-xs-3 col-xs-offset-2 joinGameBtn">
        <button class="btn btn-block joinGame" ng-hide="isInGame" ng-click='joinGame()'>
          <span>
            Join Game
          </span>
        </button>
      
      </div>
    </div>
    
    <div class="row playfield">
      <div class="col-xs-12">
        <div class="row">
          
       
          <div class="col-xs-5 col-sm-4">
            <div id='playerOneBg' class="row">
              <div class="col-xs-2 col-sm-3 playerOneBgLeft">
              </div>
              <div class="col-xs-3 col-sm-2 playerOneBgCenter">
              </div>
              <div class="col-xs-1 col-sm-1 playerOneBgSpace">
              </div>
              <div class="col-xs-1 col-sm-3 playerOneBgRight">
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-4 col-sm-3" id="playerOne">
                {{playerOne}}
              </div>
            </div>
          </div>
          
          <div id="vs" class="col-xs-1 col-sm-1">
            <span class="v">
              V
            </span>
            <span class="s">
              S
            </span>
          </div>

          <div class="col-xs-5 col-sm-4">

            <div class="row">
              <div class="col-xs-offset-8 col-xs-4 col-sm-3 col-sm-offset-8" id="playerTwo">
                {{playerTwo}}
              </div>
            </div>

            <div id='playerTwoBg' class="row">
              <div class="col-xs-1 col-sm-offset-2 col-sm-2 playerTwoBgLeft">
              </div>
              <div class="col-xs-1 col-sm-2 playerTwoBgSpace">
              </div>
              <div class="col-xs-3 col-sm-2 playerTwoBgCenter">
              </div>
              <div class="col-xs-2 col-sm-3 playerTwoBgRight">
              </div>
            </div>  
          </div>

       </div>
      </div>

      <div class="row messageField">
        <div class="row">
          <div class="col-xs-12 messg">
            
            <div class="col-xs-1" id="playMessage">
              {{victoryMessage}}
            </div>
            <div class="col-xs-7" id='timer'>
              the message will totally go here
            </div>

          </div>
        </div>
        
      </div>
    </div>


    <div ng-hide='isInGame'>
      <div class="row gameplayButtonInstrucs">
        <div class="col-xs-2 gpbi">
        </div>
        <div class="col-xs-3 gpbit">
          Select your move:
        </div>
        <div class="col-xs-3 gpbi gpbi-right">
        </div>
      </div>
      <div class="row gameplayButtons">
        <div class="col-xs-12">
            <div class="col-xs-1">
              <div id='rock' ng-click = updatePlayers('Rock') class='gameButton'>
                <i class="fa fa-hand-rock-o fa-4x"></i>
                <span>
                  Rock
                </span>
              </div>
            </div>

            <div class="col-xs-1">
              <div id='paper' ng-click = updatePlayers('Paper') class='gameButton'>
                <i class="fa fa-hand-paper-o fa-4x"></i>
                <span>
                  Paper
                </span>
              </div>
            </div>

            <div class="col-xs-1">
              <div id='scissors' ng-click = updatePlayers('Scissors') class='gameButton'>
                <i class="fa fa-hand-scissors-o fa-4x"></i>
                <span>
                  Scissors
                </span>
              </div>
            </div>

            <div class="col-xs-1">
              <div id='lizard' ng-click = updatePlayers('Lizard') class='gameButton'>
                <i class="fa fa-hand-lizard-o fa-4x"></i>
                <span>
                  Lizard
                </span>
              </div>
            </div>

            <div class="col-xs-1">
              <div id='spock' ng-click = updatePlayers('Spock') class='gameButton'>
                <i class="fa fa-hand-spock-o fa-4x"></i>
                <span>
                  Spock
                </span>
              </div>
              
            </div>


            <div id = 'buttons'>
              
              
              
              
              
            </div>
          



        </div>
      </div>
    </div>


    
    


    

  </div>
</div>





<div class='contentRoom'>
  <div class='gameView'>
<!--     <div class='game'>
   

      <div ng-show='isInGame'>
        <div id = 'buttons'>
          <div id='rock' ng-click = updatePlayers('Rock') class='gameButton'>&nbsp;</div>
          <div id='paper' ng-click = updatePlayers('Paper') class='gameButton'>&nbsp;</div>
          <div id='scissors' ng-click = updatePlayers('Scissors') class='gameButton'>&nbsp;</div>
          <div id='lizard' ng-click = updatePlayers('Lizard') class='gameButton'>&nbsp;</div>
          <div id='spock' ng-click = updatePlayers('Spock') class='gameButton'>&nbsp;</div>
        </div>
      </div>
    </div> -->


    <div class="sidebar">
      <h3>Chat</h3>
      <div id='messageSpace'>
        <ul id="messages"></ul>
      </div>
      <form class="chatForm" ng-submit='chatMsg()'>
        <input id="m" ng-model="chatMessage" name="chatMessage" autocomplete="off" placeholder="type message" /><button>Send</button>
      </form>
    </div>
  </div>
  
</div>