<div class="row rpsRoom">
  <div class="col-xs-10 col-xs-offset-1">

    <div class="row gameButtons">
      <div class="col-md-2 col-sm-3 col-xs-3 leaveRoomBtn">
        <button class="btn btn-block leaveRoom" ng-click='leaveRoom()'>  
          <span>Leave Room</span>
        </button>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-3 leaveGameBtn">
        <button class="btn btn-block leaveGame" ng-show='isInGame' ng-click='leaveGame()'>
          <span>
            Stop Playing
          </span>
        </button>
      </div>

      <div class="col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-1 col-xs-3 col-xs-offset-2 joinGameBtn">
        <button class="btn btn-block joinGame" ng-hide="isInGame" ng-click='joinGame()'>
          <span>
            Join Game
          </span>
        </button>
      
      </div>
    </div>
    
    <div class="row playfield">
      <div class="col-xs-12">
        <div class="row">
          
       
          <div class="col-xs-5 col-sm-4">
            <div id='playerOneBg' class="row">
              <div class="col-xs-2 col-sm-3 playerOneBgLeft">
              </div>
              <div class="col-xs-3 col-sm-2 playerOneBgCenter">
              </div>
              <div class="col-xs-1 col-sm-1 playerOneBgSpace">
              </div>
              <div class="col-xs-1 col-sm-3 playerOneBgRight">
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-4 col-sm-3" id="playerOne">
                {{playerOne}}
              </div>
            </div>
          </div>
          
          <div id="vs" class="col-xs-1 col-sm-1">
            <span class="v">
              V
            </span>
            <span class="s">
              S
            </span>
          </div>

          <div class="col-xs-5 col-sm-4">

            <div class="row">
              <div class="col-xs-offset-8 col-xs-4 col-sm-3 col-sm-offset-8" id="playerTwo">
                {{playerTwo}}
              </div>
            </div>

            <div id='playerTwoBg' class="row">
              <div class="col-xs-1 col-sm-offset-2 col-sm-2 playerTwoBgLeft">
              </div>
              <div class="col-xs-1 col-sm-2 playerTwoBgSpace">
              </div>
              <div class="col-xs-3 col-sm-2 playerTwoBgCenter">
              </div>
              <div class="col-xs-2 col-sm-3 playerTwoBgRight">
              </div>
            </div>  
          </div>

       </div>
      </div>

      <div class="row messageField">
        <div class="row">
          <div class="col-xs-12 messg">
            
            <div class="col-xs-1" id="playMessage">
              {{victoryMessage}}
            </div>
            <div class="col-xs-7" id='timer'>
              the message will totally go here
            </div>

          </div>
        </div>
        
      </div>
    </div>


    <div ng-show='isInGame'>
      <div class="row gameplayButtonInstrucs">
        <div class="col-xs-2 gpbi">
        </div>
        <div class="col-xs-3 gpbit">
          Select your move
        </div>
        <div class="col-xs-3 gpbi gpbi-right">
        </div>
      </div>
      <div class="row gameplayButtons">
        <div class="col-xs-12">
          <div class="row">
            
            <div ng-repeat="gpButt in gameplayButtons" class="col-sm-2 col-xs-4 gameButton" id="{{gpButt.id}}" ng-click=updatePlayers(gpButt.name)>
              <i class="fa fa-{{gpButt.fawesome}} fa-4x"></i>
              <span>
                {{gpButt.name}}
              </span>
            </div>
            
          </div>
        </div>
      </div>
    </div>


    
    


    

  </div>
</div>

<div id="chat">
  <div id="chat-title">
    <h1>Chat</h1>
  </div>
  <div id="chat-messages">
    <div id='messageSpace'>
      <ul id="messages"></ul>
    </div>
    <form class="chatForm" ng-submit='chatMsg()'>
      <div class="form-group">
        <input class="form-control" id="m" ng-model="chatMessage" name="chatMessage" autocomplete="off" placeholder="type message here" />
        <button class='btn chat-btn'>Send</button>
      </div>
      
    </form>
  </div>
</div>


<script>
  $('#chat-title').on('click', function(){

    $('#chat').toggleClass('open');
    var chat = $('#chat-messages');
    var hasClass = chat.hasClass('chat-is-open');
    if(!hasClass){
      chat.toggleClass('chat-is-open');
      chat.css('opacity', 1);
    } else {
      chat.toggleClass('chat-is-open');
      chat.css('opacity', 0);
    }

  });
</script>

