#chat {
  position: absolute;
  right: 0;
  top: 94px;
  width: 20%;
  z-index:10;
  padding-left: 10%;
  transition: all 1s;
}

.open {
  padding-left: 0 !important;
}

#chat #chat-title {
  color: black;
  background: #cc99cc;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top-left-radius: 15px;
  cursor: pointer;
}

#chat #chat-title:hover {
  background: white;
}

#chat-title h1 {
  font-size: 1.1em;
  margin: 0 0 10px 45px;
  padding: 15px 0 5px;
  text-align: left;
}

#chat-messages {
  opacity: 0;
  transition: opacity 1s;
}
.chatForm { 
  background: transparent;
  position: absolute; 
  bottom: 0; 
  width: 100%;
  padding: 0;
   
}

.chatForm .form-group{
}

.chatForm input { 
  border: 0; 
  border-radius: 0;
  height: 40px;
  margin: .5%; 
  padding: 10px;
  background: #cc99cc;
  padding-top: 20px;
  text-align: right;
  text-transform: uppercase;
  border-bottom-left-radius: 15px;
}

.chatForm input::-webkit-input-placeholder {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
}

.chatForm input::-moz-input-placeholder {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
}

.chatForm input:-moz-input-placeholder {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
}

.chatForm input::-ms-input-placeholder {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
}

#messageSpace{
  overflow: scroll;
  height: 400px;
  background: transparent;
  margin-bottom: 110px;
}

#messages { 
  background: #ffcc99;
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#messages li:nth-child(even){
  background: #ff9900;
}

#messages li { 
  position: relative;
  border-top: 5px solid black;
  padding: 5px 0px;
  margin: 0;
}

.chatForm .chat-btn {
  border-radius: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-left: 50%;
  width: 50%;
  height: 40px;
  margin-top: 5px;
  line-height: 35px;
  text-align: right;
  text-transform: uppercase;
  background: #cc6666;

}

.chat-profile-name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  position: absolute;
  left: 2%;
  top: 5%;
  letter-spacing: 1px;
}

.chat-message-text {
  margin-left: 10%;
  margin-top: 9%;
  padding-top: 0;
  margin-right: 8%;
  display: inline-block;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
}

.chat-message-text p {
  margin: 0;
}

@media (max-width: 414px) {
  #chat {
    position: relative;
    width: 80%;
    transition: all 1s;
    margin-top: -20px;
    margin-left: 20%;
  }

  #messageSpace{
    height: 500px;
    background: transparent;
    margin-bottom: 0
  }

  .chatForm { 
    bottom: -110px;     
  }

  .chat-message-text {
    font-size: 1em;
  }

}