/*
white: #ebeff0
light-blue: #73b2d9
orange: #FFA22C
*/

.instrucs {
  background: #ebeff0;
  background-image: url(../images/spockdraw.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.instrucs .instruction{
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.instrucs .text-background {
  background: rgba(235, 239, 240, 0.8);
  border-radius: 4px;
  color: black;
  width: 100%;
  margin-top: 10px;
}

.instrucs .text-background:hover {
  background: rgba(235, 239, 240, 1);
  border-radius: 4px;
  color: black;
  width: 100%;
  margin-top: 10px;
}


.instrucs .text {
  padding: 5px;
}

.instrucs p, h2 {
  margin-left: 3px;
  margin-right: 3px;
}

.instrucs h2 {
  margin-top: 0;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.5em;
}

.instrucs p {
  font-size: 1.1em;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.instrucs i {
  padding: 25px;
  border: 2px solid #73b2d9;
  background: #73b2d9;
  color: #ebeff0;
  border-radius: 50px;
}

.userName {
  background: #FFA22C;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.userName h1 {
  font-size: 1.75em;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.userName input {
  padding: 21px 10px;
  border-radius: 5px;
}

.userName button {
  border-radius: 5px;
  padding: 11px;
  width: 60px;
  background: #ecf0f1;
}

#games {
  padding-top: 30px;
  margin-bottom: 80px;
}

.game-room .outer-border{
  background: #FFA22C;
  padding: 4px;
  border-radius: 5px;
}

.game-room .content {
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.game-room h1 {
  font-size: 1.25em;
  letter-spacing: 1px;
  margin-top: 0;
  text-transform: uppercase;
}

.game-room h2 {
  font-size: 1em;
  margin-top: 20px;
  text-align: right;
}

.game-room .join-room {
  background: #FFA22C;
}

.game-room .join-room:hover {
  opacity: 0.8;
}
