/*
white: #ebeff0
light-blue: #73b2d9
orange: #FFA22C
gold: #cc9712
purple: #9999ff;
red: #cc6666;
*/

.instrucs {
  background: black;
}

.instrucs .instruction{
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.instrucs .text-background {
  background: rgba(235, 239, 240, 0.8);
  border-radius: 4px;
  color: black;
  width: 100%;
  margin-top: 10px;
}

.instrucs .text-background:hover {
  background: rgba(235, 239, 240, 1);
  border-radius: 4px;
  color: black;
  width: 100%;
  margin-top: 10px;
}

.instrucs .fawesome-background {
  height: 200px;
  text-align: right;
  background: #73b2d9;
}

.instrucs .fawesome {
  position: absolute;
  right: 20px;
  bottom: 0;
}

.instrucs .text {
  padding: 5px;
  color: #67b4eb;
  text-transform: uppercase;
  text-align: right;
}

.instrucs p, h2 {
  margin-left: 3px;
}

.instrucs h2 {
  color: black;
  margin-top: 0;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25em;
}

.instrucs p {
  font-size: 1.1em;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: -5px;
}

.instrucs i {
  padding: 25px 10px;
  color: black;
}

.instructions-banner {
  background: #9999ff;
  text-align: center;
  height: 2em;
}

.instructions-banner-center {
  background: black;
  border-right: 5px solid #9999ff;
  height: 2em;
}

.instructions-banner p {
  font-size: 1.5em;
  text-align: right;
  text-transform: uppercase;
  line-height: .9em; 
}

.instructions-banner-right {
  margin-left: 10px;
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px;
}

.userName {
  background: #9999ff;
  text-align: center;
  height: 2.5em;
}

.userName-left {
  margin-left: -10px;
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 0;
}

.userName-left p {
  font-size: 1.75em;
  text-align: right;
  text-transform: uppercase;
}

.create-title{
  background: black;
  border-left: 5px solid #9999ff;
  margin-left: 10px;
  height: 2.5em;
}

.create-title h1 {
  font-size: 1.6em;
  margin-top: 6px;
  margin-bottom: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #9999ff;
}

.create-userroom {
  margin-top: 15px;
  margin-bottom: 15px;
}

.create-userroom input {
  border-radius: 0;
  background: #ffcc99;
  border-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  text-align: right;
  padding-top: 4px;
  height: 44px;
}

.create-userroom button {
  border-radius: 0;
  position: relative;
  padding: 21px !important;
  width: 60px;
  height: 20px;
  background: #9999ff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.create-userroom .sub-button {
  color: white;
  text-align: right;
  position: absolute;
  bottom: 3px;
  right: 12px;
  font-size: 1.1em;
}

.create-userroom .form-control {
  width: 70%;
  display: inline;
}

.create-userroom .form-control::-webkit-input-placeholder { 
  color: black; 
  text-align: right;
}
.create-userroom  .form-control:-moz-placeholder { 
  color: black; 
  text-align: right;
}
.create-userroom  .form-control::-moz-placeholder { 
  color: black; 
  text-align: right;
}
.create-userroom  .form-control:-ms-input-placeholder { 
  color: black; 
  text-align: right;
}

#games {
  padding-top: 20px;
  margin-bottom: 80px;
}

.game-room .outer-border{
  background: #cc6666;
  padding: 4px;
  margin-bottom: 24px;
}

.game-room .content {
  background: #cc6666;
  padding: 8px;
}

.game-room h1 {
  text-align: right;
  font-size: 1.45em;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 0;
  text-transform: uppercase;
}

.game-room h2 {
  font-size: 1.15em;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: right;
}

.game-room .join-room {
  background: transparent;
  margin-top: 2px;
  border: 3px solid black !important;
  float: right;
  color: black;
  border-radius: 0;
  border-color: transparent;
  text-transform: uppercase;
}

.game-room .join-room:hover {
  border: 3px solid white !important;
  color: white;
}

@media (max-width: 414px) {
  .instructions-banner p {
    font-size: 1.1em !important;
    line-height: 1.2em; 
  }

  .userName-left p {
    font-size: 1.35em;
    line-height: 1.85em;
  }

  .create-title h1 {
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 0;
  }

  .create-userroom input {
    line-height: 3.5em;
  }

  .create-userroom button {
    margin-top: -18px;
  }
}

@media (max-width: 376px) {
  .instructions-banner p {
    font-size: 1em !important;
    line-height: 1.35em; 
  }

  .userName-left p {
    font-size: 1.25em;
    line-height: 2em;
  }

  .create-title h1 {
    font-size: .85em;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .instruction {
    width: 42%;
    margin-left: 3%;
  }

  .instrucs h2 {
    font-size: 1.15em;
  }
}

@media (max-width: 321px) {
  .instructions-banner p {
    font-size: .8em !important;
    line-height: 1.5em; 
  }

  .create-title h1 {
    font-size: .7em;
    margin-top: 3px;
    margin-bottom: 0;
  }

  .userName-left p {
    font-size: 1em;
    line-height: 2.5em;
  }

  .create-userroom input {
    line-height: 3.5em;
  }

  .create-userroom button {
    margin-top: -18px;
  }

  .create-userroom .form-control {
    width: 70%;
  }

  .instrucs h2 {
    font-size: .85em;
  }

  .instrucs p {
    font-size: .85em;
  }
}

@media (min-width: 700px) {
  .create-userroom input[type=text]{
    padding-top: 20px;
  }
}


@media only screen and (min-width : 750px) {
  .create-title h1 {
    margin-top: 8px;
    font-size: 1.45em;
  }
}

@media (min-width: 990px) {
  .create-title h1 {
    margin-top: 3px;
    font-size: 1.75em;
  }
}
