/*white: #ebeff0
light-blue: #73b2d9*/

.site-title {
  text-align: center;
  background: #73b2d9;
  padding-bottom: 20px;
}

.site-title h1 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.site-title h2 {
  font-size: 1.25em;
  margin-top: 0;
  letter-spacing: 1px;
}