/*
playerOne : #ffcc99;
playerTwo : #ff9966;
*/

.rpsRoom{
  background: black;
}

.rpsRoom .gameButtons {
  margin-bottom: 10px;
  margin-top: -10px;
}

.leaveRoomBtn button {
  background: #cc6699;
  padding: 22px 0;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: -16px;
}

.leaveRoomBtn button:hover{
  background: white;
}

.leaveRoomBtn span {
  color: black;
  position: absolute;
  right: 40px;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
  letter-spacing: 1px;
}

.leaveGameBtn button {
  background: #9999ff;
  padding: 22px 0;
  border-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 12px;
}

.leaveGameBtn span {
  color: black;
  position: absolute;
  right: 12px;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
  letter-spacing: 1px;
}

.leaveGameBtn button:hover{
  background: white;
}

.rpsRoom .playfield {
  background: black;
  height: 200px;
}

.playfield #playerOneBg {
  margin-top: 2px;
}

#playerOneBg .playerOneBgLeft {
  background: #ffcc99;
  height: 18px;
  border-top-left-radius: 15px;
}

#playerOneBg .playerOneBgCenter {
  background: #ffcc99;
  height: 8px;
}

#playerOneBg .playerOneBgRight {
  background: #ffcc99;
  height: 8px;
}

#playerOneBg .playerOneBgSpace {
  background: black;
  height: 8px;
  margin-right: 10px;
  border-right: 10px solid #ffcc99;
}

.playfield #playerOne {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.15em;
  padding: 10px 0;
  color: #ffcc99;
  border-bottom: 30px solid #ffcc99;
}

.playfield #vs {
  padding: 80px 0;
  font-size: 1.5em;
}

#vs .v {
  color: #ffcc99;
}

#vs .s {
  margin-left: -2px;
  color: #ff9966;
}

#playerTwoBg .playerTwoBgLeft {margin-top: 10px;
  background: #ff9966;
  height: 8px;
}

#playerTwoBg .playerTwoBgCenter {
  margin-top: 10px;
  background: #ff9966;
  height: 8px;
  margin-right: -10px;
}

#playerTwoBg .playerTwoBgRight {
  background: #ff9966;
  height: 18px;
  border-bottom-right-radius: 15px;
}

#playerTwoBg .playerTwoBgSpace {
  margin-top: 10px;
  background: black;
  height: 8px;
  margin-left: 10px;
  border-left: 5px solid #ff9966;
}

.playfield #playerTwo {
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.15em;
  padding: 10px 0;
  color: #ff9966;
  border-top: 30px solid #ff9966;
}


@media (max-width: 414px) {
  .leaveRoomBtn button {
    width: 130%;
  } 

  .leaveRoomBtn span {
    font-size: .8em;
    right: 15px;
  }

  .leaveGameBtn span {
    font-size: .8em;
  }

  .playfield #playerOne {
    font-size: .9em;
    width: 30px;
    text-align: right;
  }

  .playfield #playerTwo {
    text-align: left;
    font-size: .9em;
    width: 30px;
    margin-left: 69%;
    margin-top: 60px;
  }
}

@media (max-width: 376px) {
  .leaveRoomBtn span {
    font-size: .8em;
    right: 15px;
  }

  .leaveGameBtn span {
    font-size: .8em;
  }

  #playerOneBg .playerOneBgSpace {
    background: black;
    height: 8px;
    margin-right: 5px;
    border-right: 5px solid #ffcc99;
  }

  .playfield #playerOne {
    font-size: .9em;
    width: 30px;
  }

  .playfield #playerTwo {
    font-size: .9em;
    width: 30px;
    margin-left: 75%;
    margin-top: 60px;
  }

}

@media (max-width: 321px) {
  .leaveRoomBtn span {
    font-size: .65em;
    right: 15px;
  }

  .leaveGameBtn span {
    font-size: .65em;
    right: 10px;
  }

  .playfield #vs {
    padding: 80px 0;
    font-size: 1em;
  }

  .playfield #playerOne {
    font-size: .8em;
  }

  .playfield #playerTwo {
    font-size: .8em;
  }

  #playerOneBg .playerOneBgSpace {
    margin-right: 0;
    border-right: 0px solid black;
  }

  #playerTwoBg .playerTwoBgCenter {
    margin-right: 0;
  }

  #playerTwoBg .playerTwoBgSpace {
    margin-left: 0;
    border-left: 0px solid #ff9966;
  }

}






