body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}

body {
  font-size: 13.5px;
  height: 100%;
  background: black;
  font-family: 'Oxygen', sans-serif;

}

a {
  color: #00B7FF;
}

#footBar {
  height: 30px;
  width: 100%;
  background: #cc9712;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-top: 4px;
}

#footBar a {
  color: white;
}


@media (max-width: 414px) {
  #footBar {
    display: none;
  }
}


.sidebar {
  width: 20%;
  height: 600px;
  position: absolute;
  background: #ecf0f1;
  border: 1px black solid;
  right: 0;
}

.sidebar ul {
  margin: 0 10px;
}

.sidebar h3 {
  border-bottom: 2px black solid;
  margin: 8px;
  padding-bottom: 5px;
  text-align: center;
}

#messageSpace{
  overflow: scroll;
  height: 500px;
}

/* HOME SCREEN */

/*#games {
  padding: 0 3% 0 10%;
  width: 100%;
}
*/


.chatForm { 
  background: #000;
  position: absolute; 
  bottom: 0; 
  width: 100%;
  padding: 0; 
}
.chatForm input { 
  border: 0; 
  width: 60%; 
  margin: .5%; 
  padding: 10px;
}
.chatForm button { 
  width: 38.5%; 
  background: #72B0D9; 
  border: none; 
  padding: 10px; 
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#messages li { 
  padding: 5px 12px; 
}

#buttons {
  margin-bottom: 30px;
}



  

/* colors:
   base: #72B0D9;
   yellow: #FFC82C;
   orange: #FFA22C;
   red: #FF622C;
   silver: #ecf0f1;
*/