body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navBar {
  height: 30px;
  width: 100%;
  background: #d3d3d3;
}

#footBar {
  height: 30px;
  width: 100%;
  background: #d3d3d3;
  position: fixed;
  bottom: 0;
}

.content {
  width: 966px;
  margin: 0 auto;
  background: white;
}

.y{
  position: relative;
}

.game {
  width:100%;
  height: 800px;
  display: inline-block;
  background: white;
  position: absolute;
  top: 0;
}

.sidebar {
  width: 300px;
  height: 800px;
  position: fixed;
  background: white;
  border: 1px black solid;
  right:0;

}

.sidebar ul {
  margin: 0 10px;
}

.sidebar h3 {
  border-bottom: 2px black solid;
  margin: 5px;
  text-align: center;
}


.gameRoom {
  margin: 20px 0;
  padding: 20px;
  border: 1px black solid;
}

.joinButton {
  float: right;
  width: 120px;
  height: 20px;
  background: silver;
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  margin: -40px 0 0 0;
}

.joinButton:hover {
  background: maroon;
}

.joinButton:active {
  background: black;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

.chatForm { 
  background: #000;
  position: absolute; 
  bottom: 0; 
  width: 100%;
  padding: 0; 
}
.chatForm input { 
  border: 0; 
  width: 60%; 
  margin: .6%; 
  padding: 10px;
}
.chatForm button { 
  width: 38.5%; 
  background: rgb(130, 224, 255); 
  border: none; 
  padding: 10px; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { 
  padding: 5px 12px; 
}
/*#messages li:nth-child(odd) { background: #eee; }*/