


body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}

body {
  font-size: 13.5px;
  height: 100%;
  background: black;
  font-family: 'Oxygen', sans-serif;

}

a {
  color: #00B7FF;
}

#navBar {
  height: 70px;
  width: 100%;
  background: #72B0D9;
}

#navTitle {
  font-size: 2.75em;
  text-align: center;
}

#subTitle {
  text-align: center;
}

#rules {
  width: 100%;
  padding: 30px 10%;

  background-image: url(../images/spockdraw.png);
  background-repeat: no-repeat;
  background-position: 950px 75%;
}

.instructions{
  display: inline-block;
  font-size: 1.4em;
  padding: 25px;
}

.instructions img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

#createUserName {
  width: 100%;
  font-size: 2em;
  text-align: center;
  background: #FFA22C;
  padding: 25px;
}
#createUserName form {
  padding: 15px;
}

#createUserName input {
  padding: 10px;
  background: #ecf0f1;
}

#nameSubmit {
  width: 60px;
  padding: 11px;
  background: #ecf0f1;
}

#footBar {
  height: 30px;
  width: 100%;
  background: #cc9712;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-top: 4px;
}

#footBar a {
  color: white;
}


@media (max-width: 414px) {
  #footBar {
    display: none;
  }
}

.content {
  width: 100%;
  margin: 0 auto;
  background: #ecf0f1;
}

/* colors:
   base: #72B0D9;
   yellow: #FFC82C;
   orange: #FFA22C;
   red: #FF622C;
   silver: #ecf0f1;
*/

.contentRoom {
  width: 100%;
  background: #ecf0f1;
  height: 600px;
}


.gameView{
  position: relative;
}

.game {
  width:100%;
  height: 600px;
  display: inline-block;
  position: absolute;
  top: 0;
}

.sidebar {
  width: 20%;
  height: 600px;
  position: absolute;
  background: #ecf0f1;
  border: 1px black solid;
  right: 0;
}

.sidebar ul {
  margin: 0 10px;
}

.sidebar h3 {
  border-bottom: 2px black solid;
  margin: 8px;
  padding-bottom: 5px;
  text-align: center;
}

#messageSpace{
  overflow: scroll;
  height: 500px;
}

/* HOME SCREEN */

/*#games {
  padding: 0 3% 0 10%;
  width: 100%;
}
*/
.gameRoomBorder{
  background: #FFA22C;
  display: inline-block;
  float: left;
  margin: 25px;
  padding: 2px;
}

.gameRoom {
  padding: 10px;
  width: 160px;
  background: #ecf0f1;
}

.gameRoomTitle {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
}

.gamePeople {
  text-align: center;
}

.joinButton {
  width: 140px;
  background: #FFA22C;
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  margin: 10px 0;
}

.joinButton:hover {
  background: #C76F00;
}

.joinButton:active {
  background: #C73300;
}

 /*
 colors:
   base: #2980B9;
   yellow: #FFC82C;
   orange: #FFA22C;
   red: #FF622C;
   silver: #ecf0f1;
*/

.chatForm { 
  background: #000;
  position: absolute; 
  bottom: 0; 
  width: 100%;
  padding: 0; 
}
.chatForm input { 
  border: 0; 
  width: 60%; 
  margin: .5%; 
  padding: 10px;
}
.chatForm button { 
  width: 38.5%; 
  background: #72B0D9; 
  border: none; 
  padding: 10px; 
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#messages li { 
  padding: 5px 12px; 
}

#playfield {
  width: 78%;
  height: 400px;
  margin: 5% 0 0 5%;
}

.move {
  vertical-align: top;
  width: 40%;
  display: inline-block;
  border: 1px solid black;
  height: 300px;
  text-align: center;
  font-size: 1.5em;
}

#vs {
  padding: 5%;
  margin-top: 50px;
  display: inline-block;
  font-size: 2.5em;
}

#buttons {
  margin-bottom: 30px;
}

.gameButton{
  display: inline-block;
  width: 11%;
  height: 140px;
  padding: 0 50px 20px;
  text-align: center;
  margin: 0 0 0 4%;
}

#rock{
  background-image: url(../images/Rock.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;;
  -moz-background-size: 100%;;
  -o-background-size: 100%;;
  background-size: 100%;
}

#rock:hover{
  background-image: url(../images/Rock2.png);
}

#rock:active{
  background-image: url(../images/Rock3.png);
}

#paper{
  background-image: url(../images/Paper.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;;
  -moz-background-size: 100%;;
  -o-background-size: 100%;;
  background-size: 100%;
}

#paper:hover{
  background-image: url(../images/Paper2.png);
}

#paper:active{
  background-image: url(../images/Paper3.png);
}

#scissors{
  background-image: url(../images/Scissors.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;;
  -moz-background-size: 100%;;
  -o-background-size: 100%;;
  background-size: 100%;
}

#scissors:hover{
  background-image: url(../images/Scissors2.png);
}

#scissors:active{
  background-image: url(../images/Scissors3.png);
}

#lizard{
  background-image: url(../images/Lizard.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;;
  -moz-background-size: 100%;;
  -o-background-size: 100%;;
  background-size: 100%;
}

#lizard:hover{
  background-image: url(../images/Lizard2.png);
}

#lizard:active{
  background-image: url(../images/Lizard3.png);
}

#spock{
  background-image: url(../images/Spock.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;;
  -moz-background-size: 100%;;
  -o-background-size: 100%;;
  background-size: 100%;
}

#spock:hover{
  background-image: url(../images/Spock2.png);
}

#spock:active{
  background-image: url(../images/Spock3.png);
}


.leaveRoom{
  width: 100px;
  padding: 10px 0;
  text-align: center;
  font-size: 1em;
  background:  #FF622C;
  position: absolute;
  top: -9%;
  left: 2%;
  display: inline-block;
}

.join{
  padding: 2px;
  text-align: center;
  font-size: 1em;
  background:  #FFA22C;
  position: absolute;
  bottom: 15%;
  left: 36.5%;
  display: inline-block;
}

.joinInt{
  background: #72B0D9;
  width: 115px;
  padding: 15px 0;
}

.joinInt:hover{
  background: #FFA22C;
}

.joinInt:active{
  background: black;
}

.leaveGame{
  padding: 2px;
  text-align: center;
  font-size: 1em;
  background:  #FFA22C;
  position: absolute;
  top: -9%;
  left: 13.5%;
  display: inline-block;
}

.leaveGameInt{
  width: 100px;
  padding: 8px 0;
  text-align: center;
  font-size: 1em;
  background:  #FFC82C;
}

.leaveGameInt:hover{
  background: #FFA22C;
}

.leaveGameInt:active{
  background: black;
}

#playMessage{
  font-size: 2em;  
  margin: 10px 0 0 35%;  
}

#timer{
  margin: 10px 0 0 5%;
  font-size: 2em;
}



/* colors:
   base: #72B0D9;
   yellow: #FFC82C;
   orange: #FFA22C;
   red: #FF622C;
   silver: #ecf0f1;
*/